table {
    background: white;
    width: 100%;
    border-top: 2px solid #EEF1F7;
}

    td {
        padding: 10px; 
        font-size: 14px; 
        font-weight: 500;
        color: #424E5E;
        border-top: 1px solid #EEF1F7;
    }

    th {
        padding: 10px; 
        font-size: 16px; 
        font-weight: 700;
        color: #424E5E;
        background: #F9FAFC;
    }