$pink: #ED4A70;
$orange: #EF6C31;
$grey: #3F4448;
$black: #24292E;
$yellow: #fcc34b;
$blue: #0facf3;
$teal: #25D5A1;
$green: #8DD12C;
$ocean: #6DB9BD;
$highlight: $pink;
$active_text: #424E5E;
$dark: rgb(106, 123, 145);
$inactive_text: #D3DCE6;
$event_default: #eef2f5;
$nav_inactive: #718093;